pycsou @ git+https://github.com/matthieumeo/pycsou@v2-dev-diff
graphviz >= 0.20, < 1
ipython >= 8.4, < 9
notebook >= 6.5.4, < 7
matplotlib >= 3.5, < 4
ipywidgets >= 7.7.1, < 8
jupyter_compare_view >= 0.2.4, < 1